body{
    margin: 0;
    padding: 0;
  }
  header {
    background-color: grey;
    padding: 16px 0;
    text-align: center;
  }
  header h1{
    color: white;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
   
    margin-left: 10px;
  }