.historia p {
    font-size: 12px;
}
.personas {
    display: flex;
    justify-content: space-between;
    background-color: cornsilk
}
.persona {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
}
.persona h3{
    margin: 0;
    font-weight: normal;
    color: #3065AC;
}
.persona img{
    border-radius: 50%;
    max-width: 60%;
    box-shadow: 00 5px;
}