<h2>Complete el formulario</h2>
<form action="">
    <p>
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre">
    </p>
    <p>
        <input type="submit" value="Enviar">
    </p>
</form>
