.contenedor {
    display: flex;
    align-content: flex-end;
    border: 5px solid black;
    height: 600px;
    width: 600px;
    flex-direction: row-reverse;
    align-items: center;

    
    



}

.item {
    background-color: 1 red;
    display: flex;
    width: 200px;
    height: 200px;
    font-size: 50px;
    text-align: center;
    




}

#caja1 {
      
     background-color: red;
     color: white;
    
}

#caja2 {
    background-color: blue;
    color: white;
    
}
#caja3 {
        background-color: green;
        color: white;
        
        
        
    }